.footer {
    padding: 50px 0;
    background-color: #232222;
}

.footer h2 {
    color: #fff;
    font-family: var(--subFont);
}

.footer-logo img {
    height: 25px;
}

.footer p,
.footer a {
    color: #CCCCCC;
    font-family: var(--mainFont);
}

.footer a {
    text-decoration: none;
}

.footer form input {
    left: 0;
    width: 53%;
    padding: 11px 10px;
    border-radius: 20px;
}

.footer form input::placeholder {
    color: #2B2B2B;
}

.footer form button {
    background-color: #A259FF;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    left: 45%;
}

@media screen and (max-width: 1400px) {
    .footer form button {
        left: 46%;
    }
}

@media screen and (max-width: 1200px) {
    .footer form input {
        width: 60%;
    }

    .footer form button {
        left: 55%;
    }
}

@media screen and (max-width: 992px) {
    .footer form input {
        width: 85%;
    }

    .footer form button {
        left: 76%;
    }
}

@media screen and (max-width: 768px) {
    .footer form input {
        width: 40%;
    }

    .footer form button {
        left: 35%;
    }
}

@media screen and (max-width: 495px) {
    .footer form input {
        width: 70%;
    }

    .footer form button {
        left: 60%;
    }
}